[submodule "vendor/7zip"]
	path = vendor/7zip
	url = https://github.com/ip7z/7zip.git
[submodule "vendor/gzip"]
	path = vendor/gzip
	url = https://git.savannah.gnu.org/git/gzip.git
[submodule "vendor/bzip2"]
	path = vendor/bzip2
	url = https://gitlab.com/federicomenaquintero/bzip2.git
[submodule "vendor/tar"]
	path = vendor/tar
	url = https://git.savannah.gnu.org/git/tar.git
[submodule "vendor/xz"]
	path = vendor/xz
	url = https://github.com/tukaani-project/xz.git
[submodule "vendor/libzip"]
	path = vendor/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "vendor/zstd"]
	path = vendor/zstd
	url = https://github.com/facebook/zstd.git
[submodule "vendor/fast-lzma2"]
	path = vendor/fast-lzma2
	url = https://github.com/conor42/fast-lzma2.git
[submodule "vendor/unrar"]
	path = vendor/unrar
	url = https://github.com/pmachapman/unrar.git
[submodule "vendor/minizip-ng"]
	path = vendor/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "vendor/zlib-ng"]
	path = vendor/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "vendor/libdeflate"]
	path = vendor/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "vendor/zopfli"]
	path = vendor/zopfli
	url = https://github.com/google/zopfli.git
[submodule "vendor/lz4"]
	path = vendor/lz4
	url = https://github.com/lz4/lz4.git
[submodule "vendor/brotli"]
	path = vendor/brotli
	url = https://github.com/google/brotli.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "pkg/translate-c"]
	path = pkg/translate-c
	url = https://codeberg.org/ziglang/translate-c.git
[submodule "pkg/arocc"]
	path = pkg/arocc
	url = https://codeberg.org/ziglang/arocc.git
